.search input:nth-child(1){
    width: 500px;
    height: 60px;
    outline: none;
    font-size: 15px;
    padding: 0px 15px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    background: rgb(206, 206, 206);
}

.search input:nth-child(2){
    height: 60px;
    width: 60px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: rgb(132, 132, 132);
}

